.cap-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cap-container h1 {
    padding: 20px;
    font-size: 1.3rem;
}
.cap-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.cap-div {
    width: 100%;
    padding: 0px 10px;
}
.cap-div input, 
.cap-div textarea, 
.cap-div button, 
.cap-div select {
    width: 100%;
    padding: 10px;
}
.cap-div textarea {
    height: 120px;
    resize: none;
}
.cap-3 table {
    width: 100%;
}
.cap-3 tr {
    display: grid;
    grid-template-columns: auto 70% auto;
}
.cap-3 tr:nth-child(1) {
    background: rgb(154, 205, 50);
}
.cap-3 td {
    display: flex;
    align-items: center;
    padding-left: 10px;
    min-height: 40px;
    border-bottom: 1px solid #b3b3b3;
}
.cap-seleccionar {
    width: 20px;
    height: 20px;
    background: rgb(197, 197, 197);
    border-radius: 50%;
}
.cap-seleccionado {
    background: rgb(154, 205, 50);
}

@media screen and (min-width: 766px) {
    .cap-form {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    .cap-form {
        width: 50%;
    }
}