.caa-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caa-container h1 {
    padding: 20px;
    font-size: 1.3rem;
}
.caa-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.caa-div {
    width: 100%;
    padding: 0px 10px;
}
.caa-div input, 
.caa-div textarea, 
.caa-div button, 
.caa-div select {
    width: 100%;
    padding: 10px;
}
.caa-div textarea {
    height: 120px;
    resize: none;
}