
.main-opciones {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "titulo"
        "opciones"
    ;
    justify-items: center;
    min-height: 80vh;
}
.title {
    padding: 30px 0px;
    grid-area: titulo;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    width: 100%;
}
.title h1 {
    font-size: 30px;
}
.title div {
    height: 2px;
    width: 80%;
    background-color: rgb(88, 88, 88);
}
.img-inicio {
    grid-area: opciones;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../../img/bg/inicio-admin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.opciones {
    width: 40%;
    padding: 30px 20px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "aev aev"
        "c-el m-el"
        "con mie"
        "aus aus"
    ;
    grid-gap: 15px;
}
.opciones a {
    padding: 4px 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 4px solid #0ea9ad;
    text-decoration: none;
    color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    position: relative;
}
.opciones a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(5px, 10px);
    background-color: rgba(14, 168, 173, 0.445);
    z-index: -1;
}
.opciones a:nth-child(1) {
    grid-area: aev;
    background-color: #095759;
    color: white;
}
.opciones a:nth-child(1)::after {
    content: url(../../img/icon/left-arrow.svg);
    width: 30px;
    height: 30px;
}
.opciones a:nth-child(2) {
    grid-area: c-el;
}
.opciones a:nth-child(3) {
    grid-area: m-el;
}
.opciones a:nth-child(4) {
    grid-area: con;
}
.opciones a:nth-child(5) {
    grid-area: mie;
}
.opciones a:nth-child(6) {
    grid-area: aus;
}

@media screen and (max-width: 766px) {
    .opciones {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .opciones {
        width: 90%;
    }
}
