{{> admin/crear/header }}

<section class="coelem">
    <section class="consulta-coelem">
        <section class="coelem-inicio">
            <h1>Elementos</h1>
            <p>
                En este espacio, podras consultar los elementos que componen los eventos de formacion.
            </p>
        </section>
        <select class="coelem-select">
            <option disabled selected>Tipo</option>
            <option>Ficha</option>
            <option>Ambiente</option>
            <option>Resultado</option>
            <option>Competencia</option>
            <option>Programa</option>
            <option>Actividad Aprendizaje</option>
            <option>Actividad Proyecto</option>
            <option>Proyecto</option>
        </select>
        <table class="coelem-table">
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </table>
    </section>
</section>