{{> admin/crear/header }}

<section class="hrs">
    <section class="consulta-hrs">
        <section class="hrs-inicio">
            <h1>Horas Programadas</h1>
            <p>
                En este espacio, podras consultar las horas que se le han programado a cada instructor durante
                este trimestre.
            </p>
        </section>
        <select class="hrs-select">
            <option disabled selected>Programa</option>
            <option value="Programa 1">Programa 1</option>
            <option value="Programa 2">Programa 2</option>
        </select>
        <table class="hrs-table">
            <tr>
                <td>Identificacion</td>
                <td>Nombre</td>
                <td>Horas</td>
            </tr>
            <tr>
                <td>1122334455</td>
                <td>Joel Moreno</td>
                <td>12</td>
            </tr>
            <tr>
                <td>1122334455</td>
                <td>Miguel Castellanos</td>
                <td>33</td>
            </tr>
            <tr>
                <td>1122334455</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tempora. Dolores ratione fugiat
                    vero
                    laboriosam necessitatibus expedita sint quaerat vitae.</td>
                <td>33</td>
            </tr>
        </table>
    </section>
</section>