{{> admin/crear/header }}

<section class="noraps">
    <section class="consulta-noraps">
        <section class="noraps-inicio">
            <h1>Resultados no Programados</h1>
            <p>
                En este espacio, podras consultar nos resultados que no le han sido programados a una
                ficha en especifico, filtrandola mediate programa y trimestre que cursa actualmente.
            </p>
        </section>
        <select class="noraps-select">
            <option disabled selected>Programa</option>
            <option>Programa 1</option>
            <option>Programa 2</option>
        </select>
        <select class="noraps-select">
            <option disabled selected>Trimestre</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
        <select class="noraps-select">
            <option disabled selected>Ficha</option>
            <option>Ficha 1</option>
            <option>Ficha 2</option>
        </select>
        <table class="noraps-table">
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Horas</td>
                <td>Competencia</td>
                <td>Trimestres</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Resultado 1</td>
                <td>12</td>
                <td>competencia 1</td>
                <td>1, 2, 3</td>
            </tr>
        </table>
    </section>
</section>