{{> admin/header }}

<section class="elementos-menu">
    <div class="hamb">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="opciones-elementos">
        <div class="opcion">
            <h1>Programas</h1>
            <div class="e-opciones">
                <p id="cp">Crear Programa</p>
                <p id="mp">Modificar Programa</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Fichas</h1>
            <div class="e-opciones">
                <p id="cf">Crear Ficha</p>
                <p id="mf">Modificar Ficha</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Competencias</h1>
            <div class="e-opciones">
                <p id="cc">Crear Competencia</p>
                <p id="mc">Modificar Competencia</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Resultados de Aprendizaje</h1>
            <div class="e-opciones">
                <p id="cr">Crear RAP</p>
                <p id="mr">Modificar RAP</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Ambientes</h1>
            <div class="e-opciones">
                <p id="ca">Crear Ambiente</p>
                <p id="ma">Modificar Ambiente</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Instructores</h1>
            <div class="e-opciones">
                <p id="ci">Crear Instructor</p>
                <p id="mi">Modificar Instructor</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Proyectos</h1>
            <div class="e-opciones">
                <p id="cp">Crear Proyecto</p>
                <p id="mp">Modificar Proyecto</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Actividades de Proyecto</h1>
            <div class="e-opciones">
                <p id="cf">Crear Actividad de Proyecto</p>
                <p id="mf">Modificar Actividad de Proyecto</p>
            </div>
        </div>
        <div class="opcion">
            <h1>Actividades de Aprendizaje</h1>
            <div class="e-opciones">
                <p id="cf">Crear Actividad de Aprendizaje</p>
                <p id="mf">Modificar Actividad de Aprendizaje</p>
            </div>
        </div>
    </ul>
</section>