<section class="partial mp">
    <section class="mp-container">
        <h1>En Trabajo...</h1>
        <form action="" class="mp-form">

            <div class="mp-1">
                <select>
                    {{! Aqui se deben cargar los programas para que se pueda seleccionar uno}}
                    <option disabled selected>Programa</option>
                </select>
            </div>

            <div class="mp-2">

            </div>

        </form>
    </section>
</section>