.noraps {
    display: grid;
    justify-items: center;
}
.consulta-noraps {
    display: grid;
    width: 100vw;
    grid-gap: 20px;
    justify-items: center;
}
.noraps-inicio {
    display: grid;
    justify-items: center;
    padding: 10px;
    grid-gap: 10px;
}
.noraps-inicio p {
    text-align: center;
}
.noraps-select {
    width: 90%;
    padding: 10px;
    outline: none;
}
.noraps-select option {
    padding: 4px;
}
.noraps-table {
   width: 90%;
}
.noraps-table tr {
    display: grid;
    grid-template-columns: 10% 30% 10% 30% 20%;
    min-height: 40px;
    background-color: rgb(230, 230, 230);
    font-size: 12px;
    align-content: center;
    padding: 5px;
    border-bottom: 1px solid lightslategray;
}
.noraps-table tr:nth-child(1) {
    background-color: rgb(154, 205, 50);
}

@media screen and (min-width: 766px) {
    .consulta-noraps {
        width: 60%;
    }
}