{{> inicio-header }}

<section class="entrada">
</section>
<section class="como-usar">
    <div>
        <h1>¿Como consultar su horario?</h1>
        <p>En este espacio le indicaremos paso a paso como consultar su horario</p>
    </div>
    <a href="">Consutar</a>
</section>
<section class="noticias">
    <h1>Noticias</h1>
</section>
<section class="paginas-interes">
    <div class="pagina">
        <div></div>
        <p>SenaSofia</p>
    </div>
    <div class="pagina">
        <div></div>
        <p>Territorium</p>
    </div>
    <div class="pagina">
        <div></div>
        <p>SGVA</p>
    </div>
</section>