<section class="cap partial">
    <section class="cap-container">
        <h1>Crear Actividad de Proyecto</h1>
        <form action="/actProyect" method="POST" class="cap-form">
            <div class="cap-div cap-1">
                <textarea name="nombre_actividad" class="textarea-deco" cols="30" rows="10" placeholder="nombre actividad"></textarea>
            </div>
            <div class="cap-div cap-2">
                <select name="fase_actividad" class="select-deco" required>
                    <option disabled selected>Fase</option>
                    <option value="analisis">Analisis</option>
                    <option value="ejecucion">Ejecucion</option>
                </select>
            </div>
            <div class="cap-div cap-3">
                <table>
                    <tr>
                        <td>id</td>
                        <td>Programa</td>
                        <td>Aplica</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam aut maxime saepe
                            molestias suscipit!</td>
                        <td>
                            <div class="cap-seleccionar"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident hic dicta libero tempora
                            obcaecati voluptatum pariatur cumque culpa quam ab iure eaque enim, voluptatem tenetur
                            facere animi incidunt tempore in.</td>
                        <td>
                            <div class="cap-seleccionar"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cap-div cap-4">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>