<section class="cpy partial">
    <section class="cpy-container">
        <h1>Crear Proyecto</h1>
        <form action="/proyecto" method="POST" class="cpy-form">
            <div class="cpy-div cpy-1">
                <input type="text" name="codigo_proyecto" class="input-deco" placeholder="codigo proyecto"
                    autocomplete="off">
            </div>
            <div class="cpy-div cpy-2">
                <textarea class="textarea-deco" name="nombre_proyecto" cols="30" rows="10"
                    placeholder="nombre proyecto"></textarea>
            </div>
            <div class="cpy-div cpy-3">
                <select class="select-deco" name="id_programa" required>
                    <option disabled selected>Programa</option>
                    <option value="1">Programa 1</option>
                    <option value="2">Programa 2</option>
                </select>
            </div>
            <div class="cpy-div cpy-4">
                <button type="submit" class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>