<section class="cf partial">
    <section class="cf-container">
        <h1>Crear Ficha</h1>
        <form action="/fichas" method="POST" class="cf-form">
            <div class="cf-div cf-1">
                <input type="text" name="codigo_ficha" class="input-deco" required placeholder="N° Ficha"
                    autocomplete="off">
            </div>
            <div class="cf-div cf-2">
                <select class="select-deco" name="id_programa" required>
                    <option disabled selected>Programa</option>
                    <!--- 
                        Aqui se deben cargar los programas, de la siguiente forma:
                        <option value="id">nombre</option>

                        Ya esta listo en js para que guarde el id del programa
                        correspondiente.

                        No se pueden crear fichas, sin un programa que exista
                        en la base de datos, por eso, se deben cargar los programas
                        creados aqui. Para poder crear la ficha correctamente.

                        supongo que para cargarlos, nesecita un boton o algo, si quiere
                        se puede hacer en js, en el archivo "crear-elementos.js". Ese archvo
                        esta separado por secciones. En la seccion de ficha, le pone un event Listener
                        para que cuando se oprima el boton de ficha, la izquierda, se llene todo. O no se 
                        como mas se puede hacer.
                    -->
                    <option value="1">Nombre Programa 1</option>
                    <option value="2">Nombre Programa 2</option>
                </select>
            </div>
            <div class="cf-div cf-3">
                <div class="cf-3-fecha">
                    <label>Fecha Creacion</label>
                    <input type="date" class="input-deco" name="inicio_formacion" autocomplete="off">
                </div>
                <div class="cf-activador"></div>
                <p>Usar trimestre personalizado</p>
            </div>
            <div class="cf-div cf-4">
                <input type="number" name="cantidad_aprendices" class="input-deco" required
                    placeholder="cantidad aprendices" autocomplete="off">
            </div>
            <div class="cf-div cf-5">
                <button type="submit" class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>