<section class="cc partial">
    <section class="cc-container">
        <h1>Crear Competencia</h1>
        <form action="/competencias" method="POST" class="cc-form">
            <div class="cc-div cc-1">
                <input type="text" name="id_competencia" required class="input-deco" placeholder="id_competencia">
            </div>
            <div class="cc-div cc-2">
                <textarea class="textarea-deco" name="nombre_competencia" cols="30" rows="10" placeholder="nombre competencia"></textarea>
            </div>

            <div class="cc-div cc-3">
                 <select name="tipo_ambiente"  class="select-deco" required>
                    <option disabled selected>Tipo Ambiente</option>
                    <option value="computación">Comptación</option>
                    <option value="maquinitas">Maquinitas</option>
                </select>
            </div>
            <div class="cc-div cc-4">
                <table class="table-deco">
                    <tr class="cc-main-tr">
                        <td>id</td>
                        <td>Programa</td>
                        <td>Aplica</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cc-div cc-5">
                <button type="submit" class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>