<header class="h-admin">
    <div class="links">
        <a href="/admin">Inicio</a>
        <a href="/admin/eventos">Eventos</a>
        <a href="/admin/elementos">Elementos</a>
        <a href="/admin/reportes">Reportes</a>
        <a href="/">Cerrar Sesion</a>
    </div>
</header>