<section class="inicio-header">
    <a href="/" class="img-container">
        <img src="/img/logos/logo-blanco.PNG" alt="logo-sgef">
    </a>
    <div class="links">
        <a href="">Inicio</a>
        <a href="">Iniciar sesion</a>
        <a href="">Consultar horario</a>
        <a href="">Contacto</a>
    </div>
</section>