.cc-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cc-container h1 {
    padding: 20px;
    font-size: 1.3rem;
}
.cc-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.cc-div {
    width: 100vw;
    padding: 0px 10px;
}
.cc-div input, .cc-div select {
    width: 100%;
    padding: 10px;
}
.cc-2 textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
}
.cc-4 table {
    width: 100%;
}
.cc-4 tr {
    font-size: 14px;
    display: grid;
    grid-template-columns: auto 80% auto;
    border-bottom: 1px solid #b3b3b3;
}
.cc-4 td {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    min-height: 40px;
}
.cc-main-tr {
    background: rgb(154, 205, 50);
}
.cc-seleccionar-programa {
    width: 20px;
    height: 20px;
    background: rgb(197, 197, 197);
    border-radius: 50%;
}
.cc-5 button {
    width: 100%;
    padding: 10px;
}
.seleccionado {
    background: rgb(154, 205, 50);
}
    
