.cf-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cf-container h1 {
    padding: 20px 0px 15px 0px;
    font-size: 1.3rem;
}
.cf-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
        "cf-1 cf-1"
        "cf-2 cf-2"
        "cf-3 cf-4"
        "cf-5 cf-5"
    ;
}
.cf-div input, .cf-div select {
    width: 100%;
    padding: 10px;
}
.cf-div {
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.cf-1 {
    grid-area: cf-1;
}
.cf-2 {
    grid-area: cf-2;
}
.cf-3 {
    grid-area: cf-3;
    position: relative;
    margin: 10px 0px;
}
.cf-4 {
    grid-area: cf-4;
    margin: 10px 0px;
}
.cf-5 {
    grid-area: cf-5;
}
.cf-5 button{
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
}
.cf-3 label {
    position: absolute;
    font-size: 12px;
    transform: translateY(-100%);
    color: #7a7a7a;
}
.cf-3 p {
    position: absolute;
    bottom: 0px;
    left: 35px;
    font-size: 12px;
    transform: translateY(140%);
    color: #7a7a7a;
}
.cf-activador {
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 15px;
    height: 15px;
    background: rgb(154, 205, 50);
    border-radius: 50%;
    transform: translateY(140%);
    cursor: pointer;
}
.cf-3-fecha {
    width: 100%;
}
.desactivar-fecha {
    opacity: 0.5;
    pointer-events: none;
}
.desactivar {
    background: #a0a0a0;
}
