.menu-opciones {
    width: 100%;
    position: absolute;
}
.elementos-menu {
    width: 100%;
    position: relative;
}
.hide-menu {
    display: none;
    transform: translateX(-100%);
}
.hamb {
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.line {
    width: 30px;
    height: 5px;
    margin: 5px;
    background: yellowgreen;
}
.opciones-elementos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(235, 235, 235);
    padding: 60px 0px 20px 0px;
    z-index: 2;
}
.opcion {
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.opcion h1 {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    color: rgb(46, 46, 46);
}
.opcion h1:hover {
    background: rgb(154, 205, 50);
    transform: translateY(-8%);
}
.opcion-h1-color {
    background-color: rgb(170, 212, 85);
}
.e-opciones {
    display: none;
    width: 100%;
    margin-bottom: 10px;
}
.e-opciones p {
    padding: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(189, 209, 147);
    font-size: 18px;
    transition: all 0.2s ease;
    color: rgb(46, 46, 46);
}
.e-opciones p:hover {
    background: rgb(169, 199, 98);
    transform: translateY(-8%);
}
.e-opciones-show {
    display: block;
}
.esconder-partial {
    display: none;
}

/* trampas */

.button-deco {
    background: rgb(154, 205, 50);
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 4px;
    transition: all 0.4s ease;
}
.button-deco:hover {
    background:rgb(159, 223, 32);
}
.input-deco {
    outline: none;
    color: #7a7a7a;
}
.select-deco {
    outline: none;
    color: #7a7a7a;
}
.textarea-deco {
    outline: none;
    color: #7a7a7a;
}