{{> admin/crear/header }}

<section class="consultas">
    <section class="consultas-entrada">
        <h1>Consultas</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit dolorem unde aliquid doloribus
            deleniti optio minus laudantium praesentium repudiandae?</p>
    </section>
    <section class="consultas-opciones">
        <a href="/admin/consultas/eventos">Consultar Eventos</a>
        <a href="/admin/consultas/elementos">Consultar Elementos</a>
        <a href="/admin/consultas/noraps">Consultar RAPS no programados</a>
        <a href="/admin/consultas/hrs">Consultar Horas de Instructores</a>
    </section>
    <section class="consultas-imagen"></section>
</section>