{{> admin/header }}

<section class="crear-elementos-window">
    <div class="opciones-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <section class="crear-elementos-menu">
        <div class="opciones">
            <option id="cp">Programa</option>
            <option id="cf">Ficha</option>
            <option id="cc">Competencia</option>
            <option id="ca">Ambiente</option>
            <option id="cr">Resultado</option>
            <option id="ci">Instructor</option>
            <option id="cpy">Proyecto</option>
            <option id="caa">Actividad de Aprendizaje</option>
            <option id="cap">Actividad de Proyecto</option>
        </div>
    </section>
    <section class="crear-elementos-formularios">
        <section class="formularios-container">
            {{> admin/crear/crear-programa}}
            {{> admin/crear/crear-ficha}}
            {{> admin/crear/crear-competencia}}
            {{> admin/crear/crear-ambiente}}
            {{> admin/crear/crear-resultado}}
            {{> admin/crear/crear-instructor}}
            {{> admin/crear/crear-proyecto}}
            {{> admin/crear/crear-act-aprendizaje}}
            {{> admin/crear/crear-act-proyecto}}
        </section>
    </section>
</section>