{{> admin/header }}

<section class="menu-opciones">
    <section class="elementos-menu">
        <div class="hamb">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="opciones-elementos">
            <div class="opcion">
                <h1>Programas</h1>
                <div class="e-opciones">
                    <p id="cp">Crear Programa</p>
                    <p id="mp">Modificar Programa</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Fichas</h1>
                <div class="e-opciones">
                    <p id="cf">Crear Ficha</p>
                    <p id="mf">Modificar Ficha</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Competencias</h1>
                <div class="e-opciones">
                    <p id="cc">Crear Competencia</p>
                    <p id="mc">Modificar Competencia</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Resultados de Aprendizaje</h1>
                <div class="e-opciones">
                    <p id="cr">Crear RAP</p>
                    <p id="mr">Modificar RAP</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Ambientes</h1>
                <div class="e-opciones">
                    <p id="ca">Crear Ambiente</p>
                    <p id="ma">Modificar Ambiente</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Instructores</h1>
                <div class="e-opciones">
                    <p id="ci">Crear Instructor</p>
                    <p id="mi">Modificar Instructor</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Proyectos</h1>
                <div class="e-opciones">
                    <p id="cpy">Crear Proyecto</p>
                    <p id="mpy">Modificar Proyecto</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Actividades de Proyecto</h1>
                <div class="e-opciones">
                    <p id="cap">Crear Actividad de Proyecto</p>
                    <p id="map">Modificar Actividad de Proyecto</p>
                </div>
            </div>
            <div class="opcion">
                <h1>Actividades de Aprendizaje</h1>
                <div class="e-opciones">
                    <p id="caa">Crear Actividad de Aprendizaje</p>
                    <p id="maa">Modificar Actividad de Aprendizaje</p>
                </div>
            </div>
        </ul>
    </section>
</section>

<section class="chest">
    {{> admin/crear-programa}}
    {{> admin/crear-ficha}}
    {{> admin/crear-competencia}}
    {{> admin/crear-resultado}}
    {{> admin/crear-ambiente}}
    {{> admin/crear-instructor}}
    {{> admin/crear-proyecto}}
    {{> admin/crear-act-aprendizaje}}
    {{> admin/crear-act-proyecto}}
</section>