{{> admin/header }}

<section class="main-opciones">

    <section class="title">
        <h1>Bienvenido Administrador!</h1>
        <div class="deco-line"></div>
    </section>

    <section class="img-inicio">
        <section class="opciones">
            <a href="/admin/">Administar eventos</a>
            <a href="/admin/crear-elementos">Crear elementos</a>
            <a href="/admin/modificar-elementos">Modificar elementos</a>
            <a href="/admin/consultas">Consultas</a>
            <a href="/admin">Mi espacio</a>
            <a href="/admin/">Administrar usuarios</a>
        </section>
    </section>

</section>