{{> admin/crear/header }}

<section class="main-opciones">

    <section class="title">
        <h1>Bienvenido Administrador!</h1>
        <div class="deco-line"></div>
    </section>

    <section class="admin-image"></section>

    <section class="opciones">
        <a href="/admin/">Administar eventos</a>
        <a href="/admin/elementos">Administar elementos</a>
        <a href="/admin">Consultas</a>
        <a href="/admin">Mi espacio</a>
        <a href="/admin/">Administrar usuarios</a>
    </section>
</section>