<section class="cf partial">
    <section class="cf-container">
        <h1>Crear Ficha</h1>
        <form action="/add" method="POST" class="cf-form">
            <div class="cf-div cf-1">
                <input type="text" name="codigo_ficha" class="input-deco" required placeholder="N° Ficha">
            </div>
            <div class="cf-div cf-2">
                <select class="select-deco" required>
                    <option disabled selected>Programa</option>
                </select>
            </div>
            <div class="cf-div cf-3">
                <div class="cf-3-fecha">
                    <label>Fecha Creacion</label>
                    <input type="date" name="inicio_formacion" class="input-deco">
                </div>
                <div class="cf-activador"></div>
                <p>Usar trimestre personalizado</p>
            </div>
            <div class="cf-div cf-4">
                <input type="number" name="cantidad_aprendices" class="input-deco" required placeholder="cantidad aprendices">
            </div>
            <div class="cf-div cf-5">
                <button type="submit" class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>