<section class="cr partial">
    <section class="cr-container">
        <h1>Crear Resultado de Aprendizaje</h1>
        <form class="cr-form">
            <div class="cr-div cr-1">
                <input type="text" class="input-deco" required placeholder="id_resultado">
            </div>
            <div class="cr-div cr-2">
                <textarea class="textarea-deco" cols="30" rows="10" placeholder="nombre resultado"></textarea>
            </div>
            <div class="cr-div cr-3">
                <input type="number" class="input-deco" required placeholder="horas del resultado">
            </div>
            <div class="cr-div cr-4">
                <div class="cr-4-trimestres">
                    <p>Trimestres que Aplica</p>
                    <div class="cr-trimestres">
                        <div id="1">Primero</div>
                        <div id="2">Segundo</div>
                        <div id="3">Tercero</div>
                        <div id="4">Cuarto</div>
                        <div id="5">Quinto</div>
                        <div id="6">Sexto</div>
                    </div>
                </div>
            </div>
            <div class="cr-div cr-5">
                <select class="select-deco" required>
                    <option disabled selected>Programa</option>
                </select>
            </div>
            <div class="cr-div cr-6">
                <select class="select-deco" required>
                    <option disabled selected>Competencia</option>
                </select>
            </div>
            <div class="cr-div cr-7">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>