<section class="ca partial">
    <section class="ca-container">
        <h1>Crear Ambiente</h1>
        <form action="/ambiente" method="POST" class="ca-form">
            <div class="ca-div ca-1">
                <input name="nombre_ambiente" type="text" class="input-deco" required placeholder="nombre ambiente">
            </div>
            <div class="ca-div ca-2">
                <select name="torre" class="select-deco" required>
                    <option disabled selected>Torre</option>
                    <option value="oriental">Oriental</option>
                    <option value="occidental">Occidental</option>
                </select>
            </div>
            <div class="ca-div ca-3">
                <select name="piso" class="select-deco" required>
                    <option disabled selected>Piso</option>
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="1">5</option>
                    <option value="1">6</option>
                </select>
            </div>
            <div class="ca-div ca-4">
                <input name="capacidad" type="number" class="input-deco" required placeholder="capacidad">
            </div>
            <div class="ca-div ca-5">
                <select name="tipo_ambiente"  class="select-deco" required>
                    <option disabled selected>Tipo Ambiente</option>
                    <option value="oriental">Comptación</option>
                    <option value="occidental">Maquinitas</option>
                </select>
            </div>
            <div class="ca-div ca-6">
                <button type="submit" class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>