<section class="caa partial">
    <section class="caa-container">
        <h1>Crea Actividad de Proyecto</h1>
        <form class="caa-form">
            <div class="caa-div caa-1">
                <input type="text" class="input-deco" required placeholder="codigo actividad">
            </div>
            <div class="caa-div caa-2">
                <textarea class="textarea-deco" cols="30" rows="10" placeholder="nombre actividad"></textarea>
            </div>
            <div class="caa-div caa-3">
                <select class="select-deco" required>
                    <option disabled selected>Programa</option>
                </select>
            </div>
            <div class="caa-div caa-4">
                <select class="select-deco" required>
                    <option disabled selected>Competencia</option>
                </select>
            </div>
            <div class="caa-div caa-3">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>