<section class="cf partial">
    <section class="cf-container">
        <h1>Crear Ficha</h1>
        <form class="cf-form">
            <div class="cf-div cf-1">
                <input type="text" class="input-deco" required placeholder="Codigo ficha">
            </div>
            <div class="cf-div cf-2">
                <select class="select-deco" required>
                    <option disabled selected>Programa</option>
                </select>
            </div>
            <div class="cf-div cf-3">
                <div class="cf-3-fecha">
                    <label>Fecha Creacion</label>
                    <input type="date" class="input-deco">
                </div>
                <div class="cf-activador"></div>
                <p>Usar trimestre personalizado</p>
            </div>
            <div class="cf-div cf-4">
                <input type="number" class="input-deco" required placeholder="cantidad aprendices">
            </div>
            <div class="cf-div cf-5">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>