<header class="h-admin">
    <div class="logo"><img src="/img/logos/logo-blanco.PNG" alt=""></div>
    <div class="links">
        <a href="/admin">Inicio</a>
        <a href="/admin/eventos">Eventos</a>
        <a href="/admin/elementos">Elementos</a>
        <a href="/admin/consultas">Consultas</a>
        <a href="/">Cerrar Sesion</a>
    </div>
    <div class="header-burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>