<section class="ci partial">
    <section class="ci-container">
        <h1>Crear Instructor</h1>
        <form class="ci-form">
            <div class="ci-div ci-1">
                <input type="text" class="input-deco" required placeholder="nombre instructor">
            </div>
            <div class="ci-div ci-2">
                <input type="text" class="input-deco" required placeholder="id instructor">
            </div>
            <div class="ci-div ci-3">
                <select class="select-deco" required>
                    <option disabled selected>Tipo Contrato</option>
                    <option value="">Tipo 1</option>
                    <option value="">Tipo 2</option>
                </select>
            </div>
            <div class="ci-div ci-4">
                <table>
                    <tr class="ci-tr">
                        <td>id</td>
                        <td>Programa</td>
                        <td>Aplica</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia amet incidunt in quos
                            eligendi, temporibus nemo eum illum possimus explicabo, ratione vero iusto aspernatur quae
                            blanditiis laboriosam obcaecati optio harum.
                        </td>
                        <td>
                            <div class="ci-seleccionar"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, ipsa.</td>
                        <td>
                            <div class="ci-seleccionar"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt possimus facere assumenda
                            excepturi error quaerat culpa ullam fugit quas sit.</td>
                        <td>
                            <div class="ci-seleccionar"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="ci-div ci-5">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>