<section class="cc partial">
    <section class="cc-container">
        <h1>Crear Competencia</h1>
        <form class="cc-form">
            <div class="cc-div cc-1">
                <input type="text" required class="input-deco" placeholder="id_competencia">
            </div>
            <div class="cc-div cc-2">
                <textarea class="textarea-deco" cols="30" rows="10" placeholder="nombre competencia"></textarea>
            </div>

            <div class="cc-div cc-3">
                <select class="select-deco" required>
                    <option disabled selected>Tipo de Ambiente</option>
                </select>
            </div>
            <div class="cc-div cc-4">
                <table class="table-deco">
                    <tr class="cc-main-tr">
                        <td>id</td>
                        <td>Programa</td>
                        <td>Aplica</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Analisis y desarrollo de sistemas de informacion</td>
                        <td>
                            <div class="cc-seleccionar-programa"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cc-div cc-5">
                <button class="button-deco">Guardar</button>
            </div>
        </form>
    </section>
</section>