<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGEF</title>
    <link rel="stylesheet" href="/css/base-style.css">
    {{#each cssFiles }}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <link rel="shortcut icon" type="image/png" href="/src/public/img/icon/favicon.png" />
</head>

<body>

    {{{ body }}}

    {{#each jsFiles }}
    <script src="{{this}}"></script>
    {{/each}}

</body>

</html>